* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn’t add extra space */
    overflow: hidden; /* Prevents scrolling */
}
body{
    background: url('/login/loginbg.webp') no-repeat center center fixed;
    background-size: cover; /* Covers entire screen */
}
header img{
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.login-container {
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    
    text-align: center;
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: center;

    
   

    animation: fadeIn 0.9s ease-in-out;
    z-index: 1;
}

.login-form-container {
    background: rgba(255, 255, 255, 0.8); 
    
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto; 
    margin-bottom: 300px;
    bottom: 300px;
    max-width: 450px; 
    width: 90%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

    /* Animation */
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 1.8s ease-out forwards;
}

/* Keyframes for smooth animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header{
    display: flex;
    color: #032a73;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    font-size: 17px;
}

img{
    width: 120px;
    height: 120px;
}
.form {
    display: block;
}

input, button {
    width: 100%;
    height: 30px;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #032a73;
    
    width: 150px;
    color: white;
    border: none;
    font-size: 14px;
}

.reg-button:hover{
    background-color: #5fbfdf;
    color: white;
}