<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bay of Bengal</title>
    <link rel="stylesheet" href="/Ocean/Ocean.css">
</head>
<body>
    <div class="moving-text" id="movingText">Welcome to Bay Of Bengal</div>

    <div class="ocean-container">

        <!-- Sunlight Zone -->
        <section class="ocean-layer" id="sunlight-zone">
            <div class="pearl"></div>
            <div class="bubbles">
                <span></span><span></span><span></span><span></span><span></span>
            </div>
            <h1 class="layer-title">Sunlight Zone</h1>
            <img src="/Ocean/seahorse.png" class="fish">
          
            <a href="https://www.bluereefaquarium.co.uk/newquay/blog/animal-stories/everything-you-need-to-know-about-blacktip-reef-sharks/" target="_blank">
                <img src="/Ocean/blacktip.png" class="species-icon" id="blacktip-reef-shark">
            </a>

            <a href="https://en.wikipedia.org/wiki/Blue_coral" target="_blank"><img src="/Ocean/bluecoral.png" class="species-icon" id="blue-coral"></a>
            <a href="https://en.wikipedia.org/wiki/Blue_coral" target="_blank"><img src="/Ocean/bluecoral.png" class="species-icon" id="blue-coral-1"></a>
            <a href="https://en.wikipedia.org/wiki/Blue_coral" target="_blank"><img src="/Ocean/bluecoral.png" class="species-icon" id="blue-coral-2"></a>
            <a href="https://en.wikipedia.org/wiki/Blue_coral" target="_blank"><img src="/Ocean/bluecoral.png" class="species-icon" id="blue-coral-3"></a>
            <a href="https://marinebiodiversity.org.bd/species/epinephelus-fuscoguttatus/" target="_blank"><img src="/Ocean/Brown.png" class="species-icon" id="brown-marbled-grouper"></a>
            <a href="https://www.inaturalist.org/taxa/97207-Chaetodon-trifascialis" target="_blank"><img src="/Ocean/chevron.png" class="species-icon" id="chevron-butterflyfish"></a>
            <a href="https://www.inaturalist.org/taxa/97207-Chaetodon-trifasciali" target="_blank"><img src="/Ocean/chevron.png" class="species-icon" id="chevron-butterflyfish-1"></a>
            <a href="https://www.inaturalist.org/taxa/97207-Chaetodon-trifasciali" target="_blank"><img src="/Ocean/chevron.png" class="species-icon" id="chevron-butterflyfish-2"></a>
            <a href="https://www.inaturalist.org/taxa/97207-Chaetodon-trifasciali" target="_blank"><img src="/Ocean/chevron.png" class="species-icon" id="chevron-butterflyfish-3"></a>
            <a href="https://www.inaturalist.org/taxa/50357-Diploastrea-heliopora" target="_blank"><img src="/Ocean/BrainCoral.png" class="species-icon" id="diploastrea-brain-coral"></a>
            <img src="/Ocean/diver.svg" class="info-icon" data-zone="sunlight-zone">
            <img src="/Ocean/seahorse.png" class="hilsha">
            <img src="/Ocean/seahorse.png" class="hilsha-1">
            <img src="/Ocean/seahorse.png" class="hilsha-2">
            <img src="/Ocean/dolphin.png" class="dolphin">
           
    
        </section>

        <!-- Twilight Zone -->
        <section class="ocean-layer" id="twilight-zone">
            <div class="pearl"></div>
            <div class="bubbles">
                <span></span><span></span><span></span><span></span><span></span>
            </div>
            <h1 class="layer-title">Twilight Zone</h1>
            <a href="https://www.inaturalist.org/taxa/113176-Stephanocoenia-intersepta" target="_blank"><img src="/Ocean/starcoral.png" class="species-icon" id="larger-star-coral"></a>
            <a href="https://www.inaturalist.org/taxa/113176-Stephanocoenia-intersepta" target="_blank"><img src="/Ocean/whitecheek.png" class="species-icon" id="whitecheek-shark"></a>
            <a href="https://www.inaturalist.org/taxa/96767-Carcharhinus-sorrah" target="_blank"><img src="/Ocean/spottail.png" class="species-icon" id="spot-tail-shark"></a>
            <a href="https://oceana.org/marine-life/swordfish/" target="_blank"><img src="/Ocean/sword.png" class="species-icon" id="swordfish"></a>
            <a href="https://oceana.org/marine-life/tiger-shark/" target="_blank"><img src="/Ocean/tiger.png" class="species-icon" id="tiger-shark"></a>
            <img src="/Ocean/diver.svg" class="info-icon" data-zone="twilight-zone">
        </section>

        <!-- Midnight Zone -->
        <section class="ocean-layer" id="midnight-zone">
            <div class="water-effect"></div>
            <div class="bubbles">
                <span></span><span></span><span></span><span></span><span></span>
            </div>
            <h1 class="layer-title">Midnight Zone</h1>
            <a href="https://www.nationalgeographic.com/animals/fish/facts/dusky-shark" target="_blank"><img src="/Ocean/dusky.png" class="species-icon" id="dusky-shark"></a>
            <a href="https://www.inaturalist.org/taxa/93695-Alopias-superciliosus" target="_blank"><img src="/Ocean/threser.png" class="species-icon" id="bigeye-thresher"></a>
            <a href="https://caseagrant.ucsd.edu/seafood-profiles/bigeye-tuna" target="_blank"><img src="/Ocean/Bibeyetuna.png" class="species-icon" id="bigeye-tuna"></a>
            <a href="https://www.inaturalist.org/taxa/96746-Carcharhinus-altimus" target="_blank"><img src="/Ocean/Bignose.png" class="species-icon" id="bignose-shark"></a>
            <img src="/Ocean/diver.svg" class="info-icon" data-zone="midnight-zone">
        </section>

        <!-- Abyss Zone -->
        <section class="ocean-layer" id="abyss-zone">
            <div class="water-effect"></div>
            <div class="bubbles">
                <span></span><span></span><span></span><span></span><span></span>
            </div>
            <h1 class="layer-title">Abyss Zone</h1>
            <a href="https://www.inaturalist.org/taxa/110361-Prionace-glauca" target="_blank"><img src="/Ocean/Blueshark.png" class="species-icon" id="blue-shark"></a>
            <a href="https://oceana.org/marine-life/longfin-mako-shark/" target="_blank"><img src="/Ocean/longfin.png" class="species-icon" id="longfin-mako-shark"></a>
            <a href="https://www.inaturalist.org/taxa/114247-Torpedo-panthera" target="_blank"><img src="/Ocean/leopard.png" class="species-icon" id="leopard-torpedo"></a>
            <a href="https://en.wikipedia.org/wiki/Narrow-barred_Spanish_mackerel" target="_blank"><img src="/Ocean/Narrow.png" class="species-icon" id="narrow-barred-spanish-mackerel"></a>
            <a href="https://oceanservice.noaa.gov/education/tutorial_corals/media/supp_coral03i.html" target="_blank"><img src="/Ocean/mushroom.png" class="species-icon" id="mushroom-coral"></a>
            <img src="/Ocean/tripod.png" alt="Tripod Fish" class="fish">
            <img src="/Ocean/diver.svg" class="info-icon" data-zone="abyss-zone">
        </section>

        <!-- Trenches Zone -->
        <section class="ocean-layer" id="trenches-zone">
            <div class="water-effect"></div>
            <div class="bubbles">
                <span></span><span></span><span></span><span></span><span></span>
            </div>
            <h1 class="layer-title">Trenches</h1>
            <a href="https://uk.inaturalist.org/taxa/503688-Galaxea-astreata" target="_blank"><img src="/Ocean/octopuscoral.png" class="species-icon" id="octopus-coral"></a>
            <a href="https://en.wikipedia.org/wiki/Open_brain_coral" target="_blank"><img src="/Ocean/Openbrain.png" class="species-icon" id="open-brain-coral"></a>
            <a href="https://www.liveaquaria.com/product/509/?pcatid=509" target="_blank"><img src="/Ocean/torch.png" class="species-icon" id="torch-coral"></a>
            <a href="https://www.liveaquaria.com/product/509/?pcatid=509" target="_blank"><img src="/Ocean/torch.png" class="species-icon" id="torch-coral-1"></a>
            <a href="https://www.liveaquaria.com/product/509/?pcatid=509" target="_blank"><img src="/Ocean/torch.png" class="species-icon" id="torch-coral-2"></a>
            <a href="https://www.liveaquaria.com/product/509/?pcatid=509" target="_blank"><img src="/Ocean/torch.png" class="species-icon" id="torch-coral-3"></a>
            <img src="/Ocean/diver.svg" class="info-icon" data-zone="trenches-zone">
        </section>
    </div>

    <div id="info-box" class="info-box hidden">
        <p id="zone-info"></p>
    </div>



    <script src="Ocean.js"></script>
</body>
</html>
