<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marine Life Community</title>
   
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
    
        <div class="login-form-container">
            <form action="/newsfeed" method="post">
                <div id="login-form" class="form">
                    <div class="header">
                        <img src="conserve-the-deep-logo.png">
                        <h1> Community</h1>
                    </div>
                    
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <button type="submit" class="login-button">Login</button>
                    <p>Don't have an account? <a href="/signup">Register here</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="auth.js"></script>
</body>
</html>