<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="OTP.css">
</head>
<body>
    <div class = "OTP container">
        <p>Please enter the 4-digit OTP that has been sent to your email address below: </p>
        <div class = "digit container">
            <div id="digit1" name="digit1" placeholder="#"></div>
            <div id="digit2" name="digit2" placeholder="#"></div>
            <div id="digit3" name="digit3" placeholder="#"></div>
            <div id="digit4" name="digit4" placeholder="#"></div>
        </div>
        <button type="submit" onclick="verifyOTP()">Verify OTP</button>
    </div>
    <link type="script" href="auth.js">
</body>
</html>