<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conserve The Deep</title>
  <link rel="stylesheet" href="/welcomepage/welcome.css">
</head>
<body>
  <div class="horizon"></div>
  <div class="ocean">
    <div class="bottle1">
      <img src="/welcomepage/soda.png">
    </div>
    <div class="garbage">
      <img src="/welcomepage/garbage.png">
    </div>
    <div class="bag">
      <img src="/welcomepage/bag.png">
    </div>
    <div class="bottle2">
      <img src="/welcomepage/soda.png">
    </div>
    <div class="bottle3">
      <img src="/welcomepage/coke.png">
    </div>
  
  </div>
  <div class="content">
    <img src="/welcomepage/Conserve-the-deep-logo.png">
     <h1>Conserve The Deep</h1> 
    <p>Protect the ocean and its inhabitants. Every action makes a difference.</p>
    <div class="buttons">
      <button class="btn explore" onclick="window.location.href='/ocean'">Explore</button>
      <button class="btn species-profiles">Species Profiles</button>
      <button class="btn shark-sprint" onclick="window.location.href='/shark_sprint'">Shark Sprint</button>
      <button class="btn community">Community</button>
    </div>
  </div>
  <script src="welcomepage/welcome.js"></script>
</body>
</html>