*{
    justify-content: center;
}
.OTPcontainer{
    border : 2px black;
    justify-content: center;
    height: 350px;
    width: 420px;
    color: aqua;
}

.digitContainer{
    display: flex;
    justify-content: center;
    font-family: system-ui;
    font-size: 20px;
    border-style: solid;
    border: 2px black;
    margin: 200px;
}