.container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    height: auto; 
    text-align: center;
    font-family: Arial, sans-serif;
    background: url('Bg.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px; 
    box-sizing: border-box; 
}

.form-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto; 
    max-width: 600px; 
    width: 90%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.form {
    display: block;
}
.hidden {
    display: none;
}
input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
button {
    background-color: #5fbfdf;
    color: white;
    border: none;
}